<!DOCTYPE html>
<html>
  <head>
    <title>StkSA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-indigo-300">
    <%= render 'layouts/navbar' %>
    <%= yield %>
  <div class="bg-yellow-200 text-amber-900 hidden">

  </div>
  <div class="hover:bg-gray-100 hover:text-blue-600 rounded-md px-3 py-2 text-md font-medium hidden">

  </div>
  </body>
</html>
